<h1>My Order</h1>

<div class="container">
  <div class="row">
    <div class="col-sm-2 col-md-4">
      <h1><%= order.user_id %></h1>
      <p><%= order.product_id %><p>
      <p><%= product.description %></p>      
      <p>$<%= order.total %><p>
    </div><!-- /col -->
  </div>
</div>


