
<div class="container">
  <h1>My Order</h1>
<!--   <div class="row">
  <% @orders.each do |order| %>
    <div class="col-sm-2 col-md-3">
      <p><%= order.user_id %></p>
      <p><%= order.product_id %><p>
      <p>$<%= order.total %><p>
    </div>
    <% end %>
  </div> -->

</div>