<div class="panel panel-default">
  <div class="panel-body">
  	<h1>Payments created</h1>
    <p>Thanks for your purchase! </p>

   <p><%= link_to 'Back', products_path, class: "btn btn-default navbar-btn" %></p>
  </div><!-- / panel-body -->
</div><!-- / panel -->