// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	color: #315592;
    font-weight: bold;
    font-family: "Century Gothic", "Avant Garde"，Arial, sans-serif;
}

h2{
	color: #62799A;
	padding-left: 10px;
}

p{
	font-size:120%;
	font-weight: bold;
	padding-left: 20px;
}

.product_img{
	width:14em;
    height:10em;
	overflow:hidden;
}

.img-responsive{

	width: 100%;
    width:auto \9;
    height: auto;

}

.img-carousel{

	max-width: 100%;
    width:auto \9;
    height: auto;
}

nav li{
    display: inline-block;
	list-style-type: none;
	color: Green;
	font-family: "Century Gothic", "Avant Garde"，Arial, sans-serif;
	text-transform: uppercase;
	font-size: 150%;
	padding: 0.3em;
}

nav {
	text-align: center;
	padding-top: 1em;;
	padding-bottom: 1.5em;
}

footer{
    text-align: center;
}

.contact{
    background-image: url("lesson8.jpg");
	background-size: cover;
	padding: 6em;
	padding-left: 25em;
}

form{
    width: 65%;
}

.panel{
	padding: 3em;
	padding-left: 10em;
}


.hmenu li{
	list-style-type: none;
	text-transform: lowercase;
	padding: 0.3em;
	display: inline; 
}

.row{
	padding-top:1em;
}

.thumbnail{
	padding-top:0.8em;
}

