<div class="container">
<h1>Editing product</h1>

<%= render 'form' %>
<br>

<p><%= link_to 'Show', @product, class: "btn btn-default navbar-btn" %>|
<%= link_to 'Back', products_path, class: "btn btn-default navbar-btn" %><p>

</div>